button {
  outline: none;
  border: none;
}

.textForm input[type="text"] {
  display: flex;
  justify-content: center;
  color: #26557a;
  border: none;
  border-radius: 2px;
  outline: none;
  text-align: center;
}

#close-CSS {
  background-image: url("./img/Settings.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
}
